p {
    padding: 5px;
    margin: auto;
}
 
 
 .fourten{
color: #ffffff;background-color: rgb(48, 131, 197);

}

.thirten{
color: #ffffff;background-color: rgb(37, 146, 208);

}

.twelve{
    color: #ffffff;background-color: rgb(27, 156, 216);

}

.eleven{

    color: #ffffff;background-color: rgb(53, 168, 223);

}
.ten{
    color: #ffffff;background-color: rgb(85, 182, 230);


}

.nine{
    color: #ffffff;background-color: rgb(111,192 , 236);

}
.eight{
    color: #ffffff;background-color: rgb(139, 201, 238);
}    

.seven{
    color: #ffffff;background-color: rgb(27, 181, 132);

}
.six{
    color: #ffffff;background-color: rgb(245, 174, 206);

}

.five{
    color: #ffffff;background-color: rgb(244, 157, 194);

}
.four{
    color: #ffffff;background-color: rgb(243, 142, 179);

}
.three{
    color: #ffffff;background-color: rgb(241, 120, 165);

}
.two{
    color: #ffffff;background-color: rgb(240, 105, 151);

}
.one{
    color: #ffffff;background-color: rgb(238, 49, 126);
}